
.App {
  text-align: center;
  padding: 20px; 
}

.title {
  margin-top: 20px; 
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr)); 
  gap: 20px;
  padding: 20px;
}

.book {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.book img {
  max-width: 100%;
  height: auto; 
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 20px; 
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 5px; 
  cursor: pointer;
}

.pagination button:hover {
  background-color: #0056b3; 
}

.pagination button:disabled {
  opacity: 0.5; 
  cursor: not-allowed;
}


@media (max-width: 1024px) {
  .book-grid {
    grid-template-columns: repeat(3, minmax(150px, 1fr)); 
  }
}


@media (max-width: 768px) {
  .book-grid {
    grid-template-columns: repeat(1, minmax(150px, 1fr)); 
  }
}
